/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@200;500&family=Raleway:wght@500;700&display=swap');

/* Root var and styles */
:root {
    --main-bg-color: #ed489a;
    --main-bg-color-two: #f94fa4;
    --accent-bg-color: #EEECE8;

    --main-font-type: 'Montserrat', sans-serif;
    --accent-font-type: 'Raleway', sans-serif;
    --accent-font-type-two: 'Poppins', sans-serif;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }

  @media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* Reset and setting up */

body,
ul,
h1,
h2,
h3,
h4,
p
 {
    margin: 0px;
    padding: 0px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
    display: block;
}

img,
picture {
    width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Non-section style */

body {
    overflow-x: hidden;
    line-height: 1.4;
}
/* Section style */

#Main-content {
    background: url(./assests/body/stacked-waves-haikei.svg);
    background-size: cover;
    background-position: center;
}

#landing-heading {
    padding-top: 3.75rem;
    height: max(26vw, 200px);
}

#School-body {
    margin-left: 3.5vw;
    margin-right: 3.7vw;
}

/* Utility Classes */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex-vertical-center {
    align-items: center;
}

.flex-horizontal-center {
    justify-content: center;
}

.flex-direction {
    flex-direction: column;
}

/* Navigation Bar */

#navbar {
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

nav {
    width: 100%;
    height: 3.75rem;
    position: fixed;
    box-shadow: 3px -26px 67px -12px rgba(0,0,0,0.83);
    background: white;
    white-space: nowrap;
    z-index: 21;
}

nav ul {
    position: relative;
    height: 100%;
    width: 100%;
    margin-right: 3em;
    gap: 2.5em;
}

nav a {
    font-family: var(--accent-font-type);
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 1.3px;
    color: rgb(50, 50, 50);
    padding: 1em;
}

.mobile-nav-toggle {
    display: none;
}

#School-name {
    font-family: var(--main-font-type);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--main-bg-color);
    letter-spacing: 3px; 
    margin-left: 2vw;
    padding: 0.54em;
}

#Home {
    color: rgb(0, 0, 0);
}

/* Background Video */

#landing-background {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ----------- */
/* School Body */
/* ----------- */

#School-body-heading {
    font-family: var(--accent-font-type);
    font-size: min(2rem, 5vw);
    color: black;
    text-align: center;
    letter-spacing: 1.5px;
    z-index: 20;

    background: white;
    padding: 0.5em 0.5em;
    line-height: 1.2;
    
    margin-top: 0.5rem;
    margin-bottom: -1.026em;
    width: max-content;
}

/* News containers */

#News-wrapper {
    align-content: center;
}

#News-spacer {
    border-top: 4px solid var(--main-bg-color-two);
    background: white;

    width: clamp(18.9rem, 100%, 73rem);
}

#News-card-container {
    height: 100%;
    
    gap: 2rem;
    justify-content: center;
}

.news-card {
    display: flex; 
    flex-direction: column;   
    margin-top: 3.2rem;
    width: clamp(13rem, 32%, 23rem);
    height: 24rem;
    z-index: 10;

    background: white;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.3rem, rgba(2, 8, 20, 0.1) 0px 0.275rem 0.375rem;
    border-radius: 1rem;
}

.image-news-container {
    display: flex;
    flex-basis: 50%;
    height: 5%;
    width: 100%;
}

.image-news-container img {
    object-fit: cover;
    max-height: 22rem;

    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.content-news-container {
    margin: 0.5em 1em;
    flex-basis: 50%;

    font-family: var(--accent-font-type);
    font-weight: 500;
    font-size: 0.8rem;
}

.content-news-container > h2 {
    color: black;
    letter-spacing: 0.1px;
}

.content-news-date {
    font-family: var(--accent-font-type-two);
    font-weight: 200;
    font-size: 0.8rem;
    color: #939393;

    margin-top: -0.2em;
}

.content-news-main {
    display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
    overflow: hidden;

    line-height: 1.63;
    font-size: 1rem;
    color: rgb(41, 41, 41);

    margin-top: 1.1em;
}

/* School Card */

#School-card {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 78rem;

    background: #fff;
    outline: 4px solid var(--main-bg-color-two);
    outline-offset: -4px;
}

.school-card-image {
    height: 18rem;
    flex: 1 1 50%;
}

.school-card-image > img {
    object-fit: cover;
    max-height: 18rem;
}

#school-card-title {
    width: fit-content;
    max-width: 100%;
    position: relative;
}

#school-card-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    margin-top: 0.2rem;
    width: 100%;
    height: 3px;
    border-radius: 100vw;
    background: #ec67ac;
}

.school-card-content {    
    font-family: var(--accent-font-type);
    font-weight: 500;
    color: black;

    margin: 1em 1.2em;
    background: #fff;
    position: relative;

    flex: 1 1 50%;
}

.school-card-content > p {
    max-width: 58ch;
    margin-top: 0.45em;

    font-size: 1rem;
    color: rgb(41, 41, 41);
    line-height: 1.6;
}

#School-card-parone {
    display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ----------- */
/*  Calendar   */
/* ----------- */

#Calendar-spacer {
    border-top: 4px solid var(--main-bg-color-two);
    background: white;

    height: 100%;
    width: clamp(18.7rem, 100%, 65rem);
}

#Calendar {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: clamp(25rem, 100%, 65rem);
    
    border-radius: 1rem;
    box-shadow: 0px 0.9375rem 1.562rem rgba(0,0,0,0.1);
}

#Calendar-sidebar {
    min-width: 12.65rem;
    max-width: 17.4rem;
    flex: 1 1 30%;
    
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    background: var(--main-bg-color);
    color: white;

    font-family: var(--main-font-type);
    font-weight: 300;
}

#Calendar-sidewrapper {
    width: 100%;
}

#Calendar-subheading {
    text-transform: uppercase;
    font-weight: 400;
    font-size: .85rem;
    
    letter-spacing: 2px;
    color: black;

    margin-bottom: 0.3em;
}

#Sidebar-heading {
    font-weight: 600;
    font-size: 2rem;

    margin-bottom: 0.6em;
}

#Calendar-sidewrapper h3 {
    width: fit-content;
    font-weight: 500;
    position: relative;
}

#Calendar-sidewrapper ul {
    font-size: 1.1rem;
    margin-top: 1.5em;
}

#Calendar-sidewrapper p {
    width: fit-content;
    letter-spacing: 1.4px;

    margin-top: 1em;
    margin-bottom: 1em;
}

#Calendar-sidewrapper strong {
    margin-bottom: 0.3em;
}

#Calendar-events {
    min-width: 30.45rem;
    flex: 1 1 70%;
    border-radius: 1rem;
    background: #fff;
}

#Calendar-events img {
    object-fit: cover;
    height: 100%;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    opacity: 0.85;
}

#Calendar-sidewrapper #Event-heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 0.3rem;
    width: 100%;
    height: 2px;
    border-radius: 100vw;
    background:white;
}

/* ------ */
/* Footer */
/* ------ */

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;

    font-family: var(--accent-font-type);
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid rgb(235, 235, 235);

    margin-top: 4rem
}

.footer > * {
    flex:  1 100%;
}
  
.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}
  
.footer__logo {
    font-family: var(--main-font-type);
    font-weight: 600;
    font-size: 1.5rem;

   color: var(--main-bg-color)
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}
  
.nav__title {
    font-weight: 400;
    font-size: 15px;
}
  
.footer address {
    font-style: normal;
    color: #999;
}
  
.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}
  
.footer ul {
    list-style: none;
    padding-left: 0;
}
  
.footer li {
    line-height: 2em;
}
  
.footer a {
    text-decoration: none;
}
  
.footer__nav {
    display: flex;
    flex-flow: row wrap;
}
  
.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}
  
.nav__ul a {
    color: #999;
}
  
.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}
  
.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}
    
.legal__links {
    display: flex;
    align-items: center;
}
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }


/* ----------- */
/* Media Query */
/* ----------- */

@media screen and (max-width: 760px) {

    #Main-content {
        background: none;
    }

    /* Navigation bar for mobile */

    #Nav-list {
        position: fixed;
        inset: 0 0 0 40%;        
        flex-direction: column;
        gap: 2em;   
        padding: min(8rem, 20vh) 10vw;
        background: hsl(0 0% 97% / 0.85);
        z-index: 98;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    #Nav-list[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        position: absolute;        
        top: 1.099rem;
        right: 4vw;
        background: url(/assests/navigation/menu_black_24dp.svg);
        background-repeat: no-repeat;
        width: 2rem;
        border: none;
        display: block;
        aspect-ratio: 1;
        z-index: 99;
        transition: 350ms ease-out;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url(/assests/navigation/close_black_24dp.svg);
        background-repeat: no-repeat;
        z-index: 100;
    }

    /* News card */

    #News-card-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 2rem;
    }

    .news-card {
        margin-top: 0px;
        width: 100%;
        max-width: 31rem;
        height: min-content;
    }

    .news-card:first-child {
        margin-top: 5vw;
    }

    .image-news-container > img {
        object-fit: cover;
        max-height: 15rem;
    }

    .content-news-main {
        margin-top: 0.4em;
    }

    /* School Card */

    .school-card-image > img {
        object-fit: cover;
        max-height: 15rem;
    }

    #School-card {
        flex-direction: column;
    }

    /* -------- */
    /* Calendar */
    /* -------- */

    #Calendar {
        flex-direction: column;
        width: 100%;
    }
    
    #Calendar-sidebar {
        max-width: none;
        border-bottom-left-radius: 0px;
        border-top-right-radius: inherit;
    }

    #Calendar-events {
        min-width: 0px;
    }

    #Calendar-events img {
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0px;
    }
    
    /* Safari fallback */

    .flex-gap-safari {
        height: 13em;
    }

    .flex-gap-safari > * + * {
        margin: 2rem 0 0 0;
    }
}

@media screen and (min-width: 761px) {

    .flex-gap-safari > * + * {
        margin: 2.9rem 0 0 2rem;
    }
}

/* @Supports, Sr and Safari fallbacks*/

@supports (backdrop-filter: blur(1rem)) {

    #Nav-list {
        background: hsl(0 0% 100% / 0.75);
        backdrop-filter: blur(0.5rem);
    }
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}



